<%= form_for(economic_object) do |f| %>
  <% if economic_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(economic_object.errors.count, "error") %> prohibited this economic_object from being saved:</h2>

      <ul>
      <% economic_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :supply %>
    <%= f.number_field :supply %>
  </div>

  <div class="field">
    <%= f.label :production %>
    <%= f.text_field :production %>
  </div>

  <div class="field">
    <%= f.label :costOfStorage %>
    <%= f.text_field :costOfStorage %>
  </div>

  <div class="field">
    <%= f.label :funds %>
    <%= f.text_field :funds %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
