<p id="notice"><%= notice %></p>

<h1>Economic Objects</h1>

<table>
  <thead>
    <tr>
      <th>Supply</th>
      <th>Production</th>
      <th>Costofstorage</th>
      <th>Funds</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @economic_objects.each do |economic_object| %>
      <tr>
        <td><%= economic_object.supply %></td>
        <td><%= economic_object.production %></td>
        <td><%= economic_object.costOfStorage %></td>
        <td><%= economic_object.funds %></td>
        <td><%= economic_object.type %></td>
        <td><%= link_to 'Show', economic_object %></td>
        <td><%= link_to 'Edit', edit_economic_object_path(economic_object) %></td>
        <td><%= link_to 'Destroy', economic_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Economic Object', new_economic_object_path %>
