<p id="notice"><%= notice %></p>

<p>
  <strong>Supply:</strong>
  <%= @economic_object.supply %>
</p>

<p>
  <strong>Production:</strong>
  <%= @economic_object.production %>
</p>

<p>
  <strong>Costofstorage:</strong>
  <%= @economic_object.costOfStorage %>
</p>

<p>
  <strong>Funds:</strong>
  <%= @economic_object.funds %>
</p>

<p>
  <strong>Type:</strong>
  <%= @economic_object.type %>
</p>

<%= link_to 'Edit', edit_economic_object_path(@economic_object) %> |
<%= link_to 'Back', economic_objects_path %>
