<%= form_for(bet_anal) do |f| %>
  <% if bet_anal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet_anal.errors.count, "error") %> prohibited this bet_anal from being saved:</h2>

      <ul>
      <% bet_anal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :undrawnCycleCount %>
    <%= f.number_field :undrawnCycleCount %>
  </div>

  <div class="field">
    <%= f.label :undrawnBallCount %>
    <%= f.number_field :undrawnBallCount %>
  </div>

  <div class="field">
    <%= f.label :measuredTime %>
    <%= f.datetime_select :measuredTime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
