<p id="notice"><%= notice %></p>

<h1>Bet Anals</h1>
<div id="table-scroll" style="overflow:auto">
<table>
  <thead>
    <tr>
      <% for i in 0..@maxRecords %>
        <th colspan="1">ooooo</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @parsed_anals.keys.each do |key| %>
      <tr>
        <% @parsed_anals[key].each do |single_record| %>
            <td><%= single_record.undrawnCycleCount.to_s + ' - ' + single_record.undrawnBallCount.to_s %></td>
        <% end %>
        <td><%= @parsed_anals[key].first.getDateAndHour %></td>
        <td><%= @parsed_anals[key].first.nameOfLoto %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Bet Anal', new_bet_anal_path %>
