<p id="notice"><%= notice %></p>

<h1>Bet Anals</h1>

<table>
  <thead>
    <tr>
      <th>Undrawncyclecount</th>
      <th>Undrawnballcount</th>
      <th>Measuredtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_anals.each do |bet_anal| %>
      <tr>
        <td><%= bet_anal.undrawnCycleCount %></td>
        <td><%= bet_anal.undrawnBallCount %></td>
        <td><%= bet_anal.getHour %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet Anal', new_bet_anal_path %>
